<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 的基本使用</title>
</head>
<body>
    <div id="app" >
        <input v-model="text" @keyup.esc="clearInput">
        <p>{{ text }}</p>
        <hr>
        <select v-model="city">
            <option value="">请选择城市</option>
            <option value="1">北京</option>
            <option value="2">上海</option>
            <option value="3">深圳</option>
            <option value="4">南昌</option>
        </select>
    </div>
    <script src="./lib/vue-2.6.12.js"></script>
    <script>
        // 创建 Vue 实例对象
        const vm = new Vue({
            // el 是固定写法，表示当前 vm 实例要控制页面上的区域
            el: '#app',
            data: {
                username: 'Rookie',
                count: 0,
                text: 'Rich',
                city: ''
            },
            methods: {
                clearInput(e) {
                    e.target.value = '';
                    this.text = '';
                }
            },
        });
    </script>
</body>
</html>